takcot/xsd/details/__group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="__group">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="role" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
