takcot/xsd/details/color.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="detail_color">
    <xs:attribute name="argb" use="required" type="xs:integer"/>
  </xs:complexType>
  <xs:element name="color" type="detail_color"/>
</xs:schema>
