takcot/xsd/details/fileshare.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="fileshare">
    <xs:complexType>
      <xs:attribute name="filename" use="required"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="senderCallsign" use="required" type="xs:NCName"/>
      <xs:attribute name="senderUid" use="required" type="xs:NCName"/>
      <xs:attribute name="senderUrl" use="required" type="xs:anyURI"/>
      <xs:attribute name="sha256" use="required"/>
      <xs:attribute name="sizeInBytes" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
