takcot/xsd/details/takv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="takv">
    <xs:complexType>
      <xs:attribute name="device"/>
      <xs:attribute name="os"/>
      <xs:attribute name="platform" use="required"/>
      <xs:attribute name="version" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
