takcot/xsd/details/track.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="track">
    <xs:complexType>
      <xs:attribute name="course" use="required" type="xs:decimal"/>
      <xs:attribute name="slope" type="xs:decimal"/>
      <xs:attribute name="speed" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
